target
build
out
.gradle
*.iml
.idea/*
.settings
.metadata
.project
.classpath
.sonar
/.idea
.idea
*.log
*.DS_Store
nb_jr_remoting.cfg
/tr2-parent.ipr
/tr2-parent.iws
/dataSources/
/.ideaDataSources
/tr2-web/src/main/nodejs/node_modules
/tr2-web/src/main/webapp/resources/typescript-definitions/node_modules
/tr2-web-test/debug.log
/tr2-web/src/main/nodejs/package-lock.json
/tr2-web/src/main/nodejs/pnpm-lock.yaml
